/*Shaumik G.*/

.product-infos {
    width: var(--app-structure);
    margin: auto;
    padding: 50px;
    box-sizing: border-box;
    border-bottom: 1px solid #e6e6e6;
}

.product-info-title h2 {
    color: #0075FF;
}

.product-info-title p{
    font-weight: 600;
}

.product-details-area{
    display: flex;
}

.product-details-area h6{
    font-weight: bold;
}

.product-details {
    width: 700px;
    height: 400px;
    margin-top: 100px;
    padding-right: 20px;
}

.product-details-row-1 {
    display: flex;
    justify-content: space-between;
}

.product-image-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-image {
    width: 300px;
    height: 250px;
    border: 1px solid #C4C4C4;
    display: flex;
    margin-left: 20px;

    justify-content: center;
    align-items: center;
}

.product-image-area img{
    width: 270px;
    height: 150px;
}

.product-for-extra {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 30px;
}

.product-for-extra button{
    border: none;
    height: 40px;
    background-color: var(--default-white);
    border: 2px solid #18A0FB;
    border-radius: 5px;
    color: #18A0FB;
    width: 300px;
    margin-left: 20px;
}

#ttl {
    font-weight: 700;
}

#ttl-det{
    color: gray;
}

.product-details-sec-6{
    visibility: hidden;
}

.product-info-title-2{
    margin-top: 30px;
}


.product-additional-details{
    margin-top: 30px;
}

.button-title{
    margin-bottom: 20px;
}

.product-additional {
    display: flex;
    justify-content: space-between;
    height: 200px;
}

.product-additional-2 {
    display: flex;
    justify-content: space-between;
    height: 200px;
    transition: 2s;
}

.product-additional-on-click {
    height: 0px;
    display: none;
    overflow: hidden;
    transition: 2s;
}

.button-title h6 {
    cursor: pointer;
}